.clients {
  width: 100%;
  min-height: 100px;
  background: #EFF7FF;
}

.clients_container {
  width: 80%;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-title {
  background-image: linear-gradient(51deg,#3695ff 0,#3564fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #3677fd;
  font-weight: 300;
  font-size: 50px;
  margin-top: 55px;
  margin-bottom: 65px;
}

.clients_posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.clients-post {
  filter: grayscale(100%);
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.clients-postimg1 {
  width: 192px;
  height: 41px;
}

.clients-postimg2 {
  width: 185px;
  height: 28px;
}

.clients-postimg3 {
  width: 140px;
  height: 52px;
}

.clients-postimg4 {
  width: 170px;
  height: 56px;
}

@media(min-width: 420px) and (max-width: 1261px) {
  .clients-post {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media(min-width: 320px) and (max-width: 1059px) {
  .clients_container {
    width: 90%;
  }
}

@media(min-width: 320px) and (max-width: 419px) {
  .clients_posts {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .clients-post {
    margin-left: 0;
    margin-right: 0;
  }
}