.cookies {
  background: #194277;
  min-height: 72px;
  position: sticky;
  top: 0;
}

.cookies_container {
  width: 80%;
  min-height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.cookies-text {
  color: #fff;
  font-size: 14px;
  margin-right: 45px;
}

.cookies-btn {
  width: 110px;
  height: 30px;
  background: #fff;
  border-radius: 50px;
  color: #194277;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: .55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

.cookies-btn:hover {
  background: #EDEDED;
}

.cookies-btn:active {
  background: #F3F3F3;
}

#cookies.active {
  display: none;
}

@media(min-width: 530px) and (max-width: 660px) {
  .cookies_container {
    width: 90%;
  }
  .cookies-text {
    margin-right: 20px;
  }
}

@media(min-width: 320px) and (max-width: 529px) {
  .cookies_container {
    width: 90%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .cookies-text {
    margin-right: 0;
  }
  .cookies-btn {
    margin-bottom: 20px;
  }
}