.header {
  width: 100%;
  min-height: 100px;
  background: linear-gradient(45deg, #3695ff 20%, #469dff 20% 40%, #4098ff 40% 60%, #3c89fe 60% 80%, #357afd 80%);;
}

.header_container {
  width: 80%;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 44px;
}

.header-burgermenu {
  width: 30px;
  color: #fff;
  font-size: 3vh;
  margin-top: 2vh;
  transition: .2s;
}

.header-burgermenu:hover {
  color: #EDEDED;
}

.header-burgermenu:active {
  color: #F3F3F3;
}

.header_circle {
  width: 17vh;
  height: 17vh;
  border-radius: 50%;
  background-color: rgba(255,255,255, .06);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_circle2 {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background-color: rgba(255,255,255, .09);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_circle3 {
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  background-color: rgba(255,255,255);
}

.header-title {
  max-width: 900px;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 1.25px;
  margin-bottom: 20px;
}

.header-text {
  max-width: 800px;
  font-weight: 300;
  color: #fff;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: .4px;
  margin-top: 0;
  margin-bottom: 65px;
}

.header-btn {
  width: 204px;
  height: 55px;
  background: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #3695ff;
  text-transform: uppercase;
  letter-spacing: .4px;
  margin-top: 0;
  margin-bottom: 75px;
  transition: .2s;
}

.header-btn:hover {
  background: #EDEDED;
}

.header-btn:active {
  background: #F3F3F3;
}

.header-anchor {
  color: rgba(255, 255, 255, .4);
  margin-top: 0;
  font-size: 2.5vh;
  margin-bottom: 15px;
  transition: .2s;
}

.header-anchor:hover {
  color: rgba(255, 255, 255, .5);
}

.header-anchor:active {
  color: rgba(255, 255, 255, .45);
}

@media(min-width: 550px) and (max-width: 800px) {
  .header-title {
    font-size: 40px;
  }
  .header-text {
    font-size: 14px;
  }
}

@media(min-width: 440px) and (max-width: 549px) {
  .header-title {
    font-size: 36px;
  }
  .header-text {
    font-size: 12px;
  }
}

@media(min-width: 320px) and (max-width: 439px) {
  .header-title {
    font-size: 32px;
  }
  .header-text {
    font-size: 12px;
  }
}